.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subscription_box {
  background-color: rgb(226, 65, 44);
  border-radius: 3px;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  color: white;
  float: left;
  font-size: 18px;
}

.subscription_box_title {
  font-size: 30px;
}

.subscription_box_price {
  margin-top: 5px;
}

.subscription_box_days_expiring {
  color: rgb(150, 212, 236);
  font-weight: bold;
}

.subscription_box_days {
  margin-top: 5px;
}

.Button {
  background-color: rgb(150, 212, 236);
  border-radius: 2px;
  border: none;
  color: rgb(226, 65, 44);
  font-size: 20px;
  margin-top: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color:rgb(119, 203, 236);;
  color: rgb(224, 111, 96);
  font-size: 20px;
}

.subscription_image_div {
  height: 50px;
  width: 190px;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom: 10px;
}

.subscription_image {
  max-height: 50px;
  max-width: 180px;
}

.page_title {
  margin-left: 60px;
  font-size: 80px;
  color: rgb(226, 65, 44);
}